.Main {
    @boxShadow: 0 3px 4px 0 rgba(0, 0, 0, .14),
                0 3px 3px -2px rgba(0, 0, 0, .2),
                0 1px 8px 0 rgba(0, 0, 0, .12);
    @bgColor: #00bcd4;

    &__header {
        width: 100%;
        height: 130px;
        background-color: @bgColor;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: @boxShadow;
    }

    &__title {
        margin: 0 0 10px;
        font-size: 20px;
        font-weight: bold;
    }

    &__content {
        min-height: calc(100vh - 230px);
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 10px;
    }

    &__search-input {
        width: 50%;
        min-width: 300px;
        max-width: 500px;
    }

    &__error-message {
        margin: 0;
        color: red;
        font-size: 16px;
        font-weight: bold;
    }

    &__message-not-found {
        color: #000;
        font-size: 16px;
        text-align: center;
        word-break: break-all;

        strong {
            display: block;
        }
    }

    &__search-box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
    }

    &__select {
        margin-left: 15px;
        min-width: 240px;

        .Main__select--prefix__control {
            border-radius: 8px;
            min-height: 40px;
            border-color: transparent;
            box-shadow: @boxShadow;

            &:hover, &:focus {
                border-color: transparent;
            }
        }

        .Main__select--prefix__option--is-selected {
            background-color: @bgColor;
        }
    }

    &__pagination.rc-pagination {
        font-family: 'Poppins', sans-serif;
        margin: 0;

        .rc-pagination-prev,
        .rc-pagination-next,
        .rc-pagination-item,
        .rc-pagination-jump-prev,
        .rc-pagination-jump-next {
            min-width: 40px;
            height: 40px;
            line-height: 40px;

            &:focus {
                outline: none;
            }
        }
    }

    &__footer {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    @media (max-width: 768px) {
        &__header {
            height: 180px;
        }

        &__search-box {
            flex-wrap: wrap;
            width: 100%;
        }
    
        &__select, &__search-input {
            width: 90%;
        }

        &__select {
            margin: 10px 0 0;
            max-width: 500px;
        }
    }
}
