html,
body,
#root {
    width: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #eaeaea;
    
    * {
        box-sizing: border-box;        
    }
}

@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins-Regular.ttf');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins-Bold.ttf');
    font-weight: 700;
    font-display: swap;
}

.MainLayout {
    width: 100%;
}
